<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if title %}
    <title>StarChaos - {{ title }}</title>
    {% else %}
    <title>StarChaos</title>
    {% endif %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/loader.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/socialv.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendor/@fortawesome/fontawesome-free/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/remixicon/fonts/remixicon.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendor/vanillajs-datepicker/dist/css/datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/font-awesome-line-awesome/css/all.min.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css') }}">
</head>