<script src="{{ url_for('static', filename='js/libs.min.js') }}"></script>
<!-- slider JavaScript -->
<script src="{{ url_for('static', filename='js/slider.js') }}"></script>
<!-- masonry JavaScript -->
<script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
<!-- SweetAlert JavaScript -->
<script src="{{ url_for('static', filename='js/enchanter.js') }}"></script>
<!-- SweetAlert JavaScript -->
<script src="{{ url_for('static', filename='js/sweetalert.js') }}"></script>
<!-- app JavaScript -->
<script src="{{ url_for('static', filename='js/charts/weather-chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="{{ url_for('static', filename='vanillajs-datepicker/dist/js/datepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lottie.js') }}"></script>
